{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!--{% if form.errors or form.non_field_errors %}-->
<!--&lt;!&ndash; error&ndash;&gt;-->
<!--{% endif %}-->
<!--{% if messages %}-->
<!--<ul class="messages">-->
<!--    {% for message in messages %}-->
<!--    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->

    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post">
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input id="username" type="text" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-icon id="passwordToggle" name="eye-off-outline" onclick="passwordShowFn('')"></ion-icon>
                        <input id="password" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="forget">
                        <label>Forget Password? <a href="{% url 'ResetPasswordByEmail' %}">Remind me</a></label>
                    </div>
                    <div class="errors">
                    {{form.non_field_errors}}
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    </br>
                    {% endif %}
                    <button type="submit">Log in</button>
                    <div class="register">
                        <p>Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}