{% extends "base.html" %}

{% block title %}Set up new password{% endblock %}

{% block content %}
<section class="passwordReset">
{% if validlink %}
    <div class="form-box-passwordReset">
            <div class="form-value">
                <form method="post">
                    {% csrf_token %}
                    <h2>Password reset</h2>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input id="password" type="password" name="password" required>
                        <label for="password">New password</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input id="password2" type="password" name="password2" required>
                        <label for="password2">Confirm new password</label>
                    </div>
                    <div class="errors">
                    {{form.non_field_errors}}
                    </div>
                   {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="signUpBtn">
                    <button type="submit">Change my password</button>
                    </div>
                </form>
            </div>
        </div>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.</p>
    <p>Please request a new password reset.</p>
{% endif %}
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}