{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<!--  <h2>Sign up</h2>-->
<!--  <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Sign Up</button>-->
<!--  </form>-->


    <section>
        <div class="form-box-signUp">
            <div class="form-value">
                <form method="post">
                    {% csrf_token %}
                    <h2>Sign up</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input id="username" type="text" name="username" required>
                        <label for="username">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input id="email" type="text" name="email" required>
                        <label for="email">E-mail</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-icon id="passwordToggle" name="eye-off-outline" onclick="passwordShowFn('')"></ion-icon>
                        <input id="password" type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-icon id="passwordToggle2" name="eye-off-outline" onclick="passwordShowFn('2')"></ion-icon>
                        <input id="password2" type="password" name="password2" required>
                        <label for="password2">Confirm password</label>
                    </div>
                    <div class="errors">
                    {{form.non_field_errors}}
                    </div>
<!--                    <div class="errors">{{form.non_field_errors}}</div>-->
                    <div class="signUpBtn">
                    <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}