
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

html, body {
     min-height: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../images/main_background.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

section.mainpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background: url('../images/main_background.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

section.logged{
    display: grid;
    min-height: 91vh;
    width: 100%;
    background: url('../images/rest_background.jpg')no-repeat;
    background-position: center;
    background-size: cover;

}

section.passwordReset{
    display: grid;
    min-height: 100vh;
    width: 100%;
    background: url('../images/rest_background.jpg')no-repeat;
    background-position: center;
    background-size: cover;

}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-box-signUp{
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-passwordReset{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 35px;
    color: #fff;
    text-align: center;
}

section p.reset{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-30%);
    color: #bfbfbf;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.5em;
    top: 20px;
}
.forget{
    margin: -15px 0 40px ;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #000066
}

.signUpBtn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #000066;
    margin-top: 40px;
}

.register{
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.register p a:hover{
    text-decoration: underline;
}

.errors{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navbar {
   width: auto;
   height:4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #000;
}

.nav-links a {
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    transition-delay: 9999s;
}

.errors{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #669999;
}

tr {
  text-align: center;
  height: 50px;
}

tbody tr:nth-child(even) {
  background-color: #6699CC;
}

table{
    display: grid;
    height: 300px;
    overflow: auto;
}

th {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: teal;
}

.content{
width:100vh;
}

.bigger{
font-size:30px;
text-align: center;
}

.linkUnderline{
font-weight: bold;
text-decoration-line: underline;
}